@import "../../../scss/index.scss";

.right-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    i.icon {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 19px;
        color: $font-dark;
    }

    .ui.image.avatar {
        width: 25px;
        height: 25px;
        border: 1px solid $border-dark;
    }

    i.icon, .ui.image.avatar {
        margin: 0 0 0 19px;
        &:hover {
            cursor: pointer;
        }
    }
}