@import "../../../scss/index.scss";

.modal-post {
    border-radius: 15px !important;
    overflow: hidden;
    padding: 8px;
    width: 650px;
    height: 650px;

    .dropZone {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px dashed $border-dark;
        border-radius: 15px !important;
        position: relative;
        z-index: 1;

        i {
            font-size: 50px;
            color: $font-grey;
        }

        p {
            margin-top: 20px;
        }

    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .btn-post {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45px;
        border: 0;
        border-radius: 0;
        margin: 0;
        z-index: 2;
    }

    .publishing {
        p {
            margin-top: 80px;
            font-size: 18px;
        }
    }
}