@import "../../../scss/index.scss";

.preview-post {
    height: 100%;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &__image {
        height: 100%;
        width: 100%;
    }
}