@import "../../../../scss/index.scss";

.actions {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  i {
    font-size: 16px !important;

    &:hover {
      cursor: pointer;
    }
  }

  .like.active {
    color: $danger;
  }
}