$font-light: #ffffff;
$font-grey: #a2a2a2;
$font-dark: #000000;

$background-light: #ffffff;
$background-grey-light: #fafafa;

$border-grey: #dbdbdb;
$border-dark: #000000;

$action: #0095f6;
$light: #dbdbdb;
$danger: #ed4956;